* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body.home {
  background: url(/images/bk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body.con {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  background: rgba(245, 243, 243, 0.904);
  height: 40px;
  border-radius: 10px;
  animation: anim_nav linear 1s s;
  background-color: darkgray;
}

ul {
  width: 100%;
}
ul li {
  width: 20%;
  float: left;
  line-height: 40px;
  cursor: pointer;
  list-style: none;
  text-align: center;
  transition: 1s;
  font-size: 20px;
  border-radius: 10px;
}
ul li:hover {
  background: #560404;
  color: white;
  box-shadow: 3px 3px 20px #b61515, 3px 3px 20px #b61515;
}
section {
  position: relative;
  top: 100px;
  width: 100%;
}
.welcome {
  width: 600px;
  height: 200px;
  background: rgba(17, 17, 17, 0.904);
  margin: 0 2em;
  animation: 2s linear 1 anim_welcom;
  display: inline-block;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: darkgray;
}
.row {
  width: 100%;
  padding: 50px 100px;
}
.about-img {
  width: 30%;
  float: left;
}
.about-img img {
  width: 90.8%;
  height: auto;
}
.about-content {
  width: 60%;
  float: left;
  margin: 50px;
}
.about-content h1 {
  font-size: 90px;
  letter-spacing: 3.5px;
  margin-top: 25px;
  color: #222;
  font-family: lobster, cursive;
}
.about-content h2 {
  font-size: 40px;
  font-family: sans-serif;
  color: #d3091d;
  margin-top: 25px;
}
.about-content p {
  font-size: 20px;
  font-family: serif;
  margin-top: 10px;
  line-height: 1.5;
}

.go-up {
  width: 120px;
  font-size: 40px;
  color: white;
  background: black;
  align-items: baseline;
  display: flex;
  justify-content: end;
  place-items: center;
}

.numbers {
  width: 100%;
  padding: 78px 0px;
  background-color: darkgray;
  background-size: cover;
}
.our-shops {
  position: relative;
  min-height: 40vh;
  display: grid;
  place-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.our-shops h1 {
  background: black;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: center;
  font-size: 17px;
  font-weight: 400;
  margin: 20px;
  padding: 20px 40px;
  text-align: center;
  color: aliceblue;
  font-family: pangolin;
  font-weight: bold;
  border: 2px solid brown;
}
.our-shops h1:hover {
  color: aliceblue;
  box-shadow: 3px 3px 20px #ff0000, 3px 3px 20px #ff0000;
}
.our-shops table {
  background: black;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: center;
  font-size: 17px;
  font-weight: 400;
  margin: 20px;
  padding: 20px 40px;
  text-align: center;
  color: aliceblue;
  font-family: pangolin;
  font-weight: bold;
  border: 2px solid brown;
  cursor: pointer;
}
.hours {
  width: 150px;
  height: 50px;
  background: black;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: left;
  font-size: 17px;
  font-weight: 200;
  margin: 20px;
  padding: 10px;
  text-align: left;
  color: aliceblue;
  font-family: pangolin;
  border: 2px solid brown;
}
.hours:hover {
  color: aliceblue;
  box-shadow: 3px 3px 20px #ff0000, 3px 3px 20px #ff0000;
}
.working table {
  background: black;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: center;
  font-size: 17px;
  font-weight: 400;
  margin: 20px;
  padding: 20px 40px;
  text-align: center;
  color: aliceblue;
  font-family: pangolin;
  font-weight: bold;
  border: 2px solid brown;
  cursor: pointer;
}
.working table th {
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: left;
}

.our-shops table th {
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: center;
}
td {
  font-size: 18px;
}
th {
  background: brown;
  color: white;
}
tr:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.548);
}

.contact-me {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: darkgray;
  background-size: cover;
}
.contact-me .contact h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.kay {
  color: white;
  text-align: center;
  font-size: 2.5em;
}
.imgs {
  width: 100%;
}
.imgs img {
  width: 30%;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
}
.imgs img:hover {
  transform: scale(1.1);
}
.coffee {
  width: 300px;
  height: 510px;
  background: rgba(241, 232, 232, 0.904);
  float: right;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.5em;
}
.coffee div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coffee img {
  width: 150px;
  border-radius: 10px;
}
@keyframes anim_nav {
  0% {
    margin-top: -100px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes anim_welcom {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
