* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body.home {
  background: url(/images/bk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  background: rgba(245, 243, 243, 0.904);
  height: 40px;
  border-radius: 10px;
  animation: anim_nav linear 1s s;
  background-color: darkgray;
}

ul {
  width: 100%;
}
ul li {
  width: 20%;
  float: left;
  line-height: 40px;
  cursor: pointer;
  list-style: none;
  text-align: center;
  transition: 1s;
  font-size: 20px;
  border-radius: 10px;
}
ul li:hover {
  background: #560404;
  color: white;
  box-shadow: 3px 3px 20px #b61515, 3px 3px 20px #b61515;
}
section {
  position: relative;
  top: 100px;
  width: 100%;
}
.welcome {
  width: 600px;
  height: 200px;
  margin-left: 250px;
  background: rgba(17, 17, 17, 0.904);
  animation: 2s linear 1 anim_welcom;
  display: inline-block;
}
.wrapper {
  height: 100vh;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
.row {
  width: 100%;
  padding: 50px 100px;
}
.about-img {
  width: 30%;
  float: left;
  margin-left: 50px;
}
.about-img img {
  width: 90.8%;
  height: auto;
}
.about-content {
  width: 60%;
  float: left;
  margin-left: 50px;
}
.about-content h1 {
  font-size: 90px;
  letter-spacing: 3.5px;
  margin-top: 25px;
  color: #222;
  font-family: lobster, cursive;
}
.about-content h2 {
  font-size: 40px;
  font-family: sans-serif;
  color: #d3091d;
  margin-top: 25px;
}
.about-content p {
  font-size: 20px;
  font-family: serif;
  margin-top: 10px;
  line-height: 1.5;
}

.go-up {
  width: 120px;
  font-size: 40px;
  color: white;
  background: black;
  align-items: baseline;
  display: flex;
  justify-content: end;
  place-items: center;
}
.our-shops {
  position: relative;
  min-height: 40vh;
  display: grid;
  place-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.our-shops h1 {
  background: black;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: center;
  font-size: 17px;
  font-weight: 400;
  margin: 20px;
  padding: 20px 40px;
  text-align: center;
  color: aliceblue;
  font-family: pangolin;
  font-weight: bold;
  border: 2px solid brown;
}
.our-shops h1:hover {
  color: aliceblue;
  box-shadow: 3px 3px 20px #ff0000, 3px 3px 20px #ff0000;
}
.our-shops table {
  background: black;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: center;
  font-size: 17px;
  font-weight: 400;
  margin: 20px;
  padding: 20px 40px;
  text-align: center;
  color: aliceblue;
  font-family: pangolin;
  font-weight: bold;
  border: 2px solid brown;
  cursor: pointer;
}
.hours {
  width: 150px;
  height: 50px;
  background: black;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: left;
  font-size: 17px;
  font-weight: 100;
  margin: 20px;
  padding: 10px;
  text-align: left;
  color: aliceblue;
  font-family: pangolin;
  border: 2px solid brown;
}
.hours:hover {
  color: aliceblue;
  box-shadow: 3px 3px 20px #ff0000, 3px 3px 20px #ff0000;
}
.working table {
  background: black;
  box-sizing: border-box;
  border-radius: 0.6rem;
  align-self: center;
  font-size: 17px;
  font-weight: 400;
  margin: 20px;
  padding: 20px 40px;
  text-align: center;
  color: aliceblue;
  font-family: pangolin;
  font-weight: bold;
  border: 2px solid brown;
  cursor: pointer;
}
.working table th {
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: left;
}

.our-shops table th {
  padding: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: center;
}
td {
  font-size: 18px;
}
th {
  background: brown;
  color: white;
}
tr:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.548);
}

.contact-me {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.contact-me h2 {
  font-size: 36px;
  font-weight: 500;
  color: burlywood;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: burlywood;
}
.container .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactinfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 22px;
}
.container .contactinfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: burlywood;
  flex-direction: column;
  font-weight: 300;
}
.container .contactinfo .box .text h3 {
  font-weight: 500;
  color: #696969;
}
.contact-form h2 {
  font-size: 30px;
  color: #deb887;
  font-weight: 500;
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-form .input-box input .contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  resize: none;
}
.contact-form .input-box span {
  position: absolute;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #deb887;
}
.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contact-form .input-box input[type="reset"] {
  width: 100px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.kay {
  color: white;
  text-align: center;
  font-size: 2.5em;
}
.imgs {
  width: 100%;
  margin-left: 40px;
}
.imgs img {
  width: 30%;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
}
.imgs img:hover {
  transform: scale(1.1);
}
.coffee {
  width: 300px;
  height: 510px;
  background: rgba(241, 232, 232, 0.904);
  float: right;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.5em;
}
.coffee div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coffee img {
  width: 150px;
  border-radius: 10px;
}
@media screen and (max-width: 920px) {
  nav {
    width: 100%;
    background-color: sienna;
  }
  .welcome {
    width: 100%;
    margin-left: 30px;
    background-size: 20px;
    border-radius: 10px;
    background-color: sienna;
  }
  .kay {
    font-size: 30px;
  }
  .imgs {
    width: 100%;
    height: 100%;
    margin-left: 6px;
  }
  .coffee {
    position: relative;
    top: -260px;
    right: -500px;
    font-size: 30px;
    border: 30px;
    background-color: sienna;
  }
  .hours {
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    bottom: 450px;
  }
  .working table {
    position: relative;
    top: -168px;
    width: 50px;
    height: 30px;
    border-radius: 10px;
  }
  .about-img {
    width: 100%;
    float: none;
    margin-left: -80px;
    margin-top: -90px;
  }

  .about-content h1 {
    font-size: 60px;
    color: #222;
    position: relative;
    right: 120px;
    font-family: lobster, cursive;
  }
  .about-content h2 {
    display: none;
  }
  .go-up {
    display: none;
  }
  .about-content p {
    font-size: 10px;
    text-align: left;
    justify-content: left;
  }
  .our-shops table {
    font-size: 10px;
    position: relative;
    width: 50%;
    left: 168px;
  }
  .our-shops table th {
    border-radius: 10px;
  }
  .contact-me {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .input-box input textarea {
    background-color: white;
  }
}
